
@font-face {
        font-family: "HelveticaRegular";
        src: url("../assets/fonts/HelveticaRegular/HelveticaRegular.ttf") format("ttf"),
                url("../assets/fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
                url("../assets/fonts/HelveticaRegular/HelveticaRegular.eot") format("eot")
}

@font-face {
        font-family: "HelveticaThin";
        src: url("../assets/fonts/HelveticaThin/HelveticaThin.ttf") format("ttf"),
                url("../assets/fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
                url("../assets/fonts/HelveticaThin/HelveticaThin.eot") format("eot")
}

@font-face {
        font-family: "GTWalsheimProRegular";
        src: url("../assets/fonts/GTWalsheimProRegular/GTWalsheimPro-Regular.ttf") format("ttf"),
                url("../assets/fonts/GTWalsheimProRegular/GTWalsheimPro-Regular.woff") format("woff"),
                url("../assets/fonts/GTWalsheimProRegular/GTWalsheimPro-Regular.eot") format("eot")
}